
@font-face {
  font-family: 'Gabriola';
  src: url('../fonts/Gabriola.ttf')  format('truetype')
}

@font-face {
  font-family: 'BeforeTheRain';
  src: url('../fonts/BeforeTheRain.ttf')  format('truetype')
}

@font-face {
  font-family: 'ArmBoloragir';
  src: url('../fonts/ArmBoloragir.ttf')  format('truetype')
}



	body {
		font-family: 'Gabriola';
		background-image: url(../images/bg5.png);
		background-size: cover;
		max-width: 990px;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		width: 100%;	
	}		

	header {
		max-width: 990px;
		font-family: 'BeforeTheRain', Fallback, sans-serif;
		font-size: 15pt;
		padding: 0;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		
		
	}

	header img {
		border-radius: 15px;
		float: left;
	}

	header h1 {
		margin-left: 140px;
	}
	
	footer  {
		clear: both;
		max-width: 990px;
		padding: 40px 0;
		margin-left: auto;
		margin-right: auto;
		width: 100%;	
	}
	footer div {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-size: 17pt;
	}
	
	footer img {
		margin-bottom: -10px;
		padding-left: 2px; 
		width: 30px;
		
	}
	
	#blocks h2{

			margin-top: -28px;
	}
	#blocks{
		clear: both;
		font-family: 'Gabriola', Fallback, sans-serif;
		text-align: center;
		max-width: 990px;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		width: 100%;	
		box-sizing: content-box; 
	}
	

	#blocks img{
		width: 300px; 
	}
	
	#blocks img:hover {
		opacity: 0.5;
	
	}
	
	#blocks div{
		padding: 13px; 
		float: left;
		cursor: pointer;
	}
	
	#content {
		font-size: 17pt;
		max-width: 900px;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		display: table;
		background-color: rgba(250, 250, 250, 0.9);
		border-radius: 20px;
	}
	
	#content div{
		display: none;
		padding: 20px; 
	}
	
	.arm {
		font-family: 'ArmBoloragir';
		font-size: 13pt;
		
	}
	.up-arrow {
		clear: both;
		width: 30px;
		margin-left: auto;
		margin-right: auto;
        	display: block;
		
	}

	.books{
		height: 145px;
		float: left;
		padding: 20px;
		transition: transform .5s;
		
	}
	.books:hover {
		transform: scale(2.5);
	}
