@font-face {
  font-family: 'Gabriola';
  src: url('../../fonts/Gabriola.ttf')  format('truetype')
}

h1{
	
		font-family: 'Gabriola', Fallback, sans-serif;
		font-size:40pt;
		font-weight:bold;
		text-align: center;
		padding: 0;
		margin: auto;
		width: 100%;	
	
	}

#slideshow-container {
	max-width:1000px;
	position:relative;
	margin:auto;
}

img {vertical-align: middle;}

.prev, .next {
	cursor:pointer;
	position:absolute;
	top: 50%;
	font-size: 25px;
	width: auto;
	margin-top: -22px;
	padding: 10px;
	transition: 0.6s ease;
	
		
}

.prev {
	left:-30px;
	border-radius: 0 3px 3px 0;
	
}

.next {
	right:-30px;
	border-radius: 3px 0 0 3px;
	
}

.prev:hover, .next:hover {
	background-color:rgba(0,0,0,0.8);
	
}

@keyframes bg {
	from{font-size: 60pt; color: #fff;}
	to{font-size: 0pt; color: #fff;} 
}

.desctiption {
	max-width:1000px;
	margin:auto;
	border-radius: 40px;
	font-family: 'Gabriola', Fallback, sans-serif;
  	font-size: 0pt;
	color: #fff;
    padding: 0 50px;
    position: absolute;
    font-weight: bold;
    top: 10px;
    left: 10px;
    width: auto;
    text-align: left;
    animation-name: bg;
	animation-duration: 5s;
}
#switchersDiv{

		width:100%;
		position:absolute;
		margin:auto;
		bottom: -50px;
	
}

.flex-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;
	flex-basis: 200px;
	
}

.flex-container > div {

  margin: 0 5px;

}
.switcher {
	cursor:pointer;
	margin: 0 10px;
	display: inline-block;
}



.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

/*footer {
	max-width:1000px;
	position:relative;
	margin:auto;
	background-image: url(../SliderImages/footer1.JPG);
	width: 1000px;
	height: 625px;
}*/

@-webkit-keyframes fade{
	from{opacity: .4}
	to{opacity:1}
}
/*
@keyframes fade{
	from{opacity: .4}
	to{opacity:1}
}
*/

@keyframes fade{
	from{opacity: .4}
	to{opacity:1}
}
@media only screen and (max-width: 300px) {
  .desctiption {font-size: 11px}
}
